body	{
		margin: 0;
		padding: 0;
		color: #0f0f0f;
}
blockquote {
		font-style: italic;
}
dt		{
		margin-top: 5px;
		color: mediumSlateBlue;
		font-weight: 500;
}
dd {
		font-style: italic;
		margin-left: 25px;
}
dd ul {
		margin-left: 30px;
}
header	{
		background-color: darkSlateBlue;
		color: white;
		text-align: center;
		padding-top: 20px;
		margin-left: 270px;
		margin-bottom: 20px;
		width: 750px;
}
#banner	{
		text-align: left;
		padding: 10px;
}
#banner a {
		color: mediumSlateBlue;
}
nav		{
		position: fixed;
		top: 0px;
		left: 0px;
		width:	250px;
		padding-left: 5px;
}
section, footer {
		margin-left: 270px;
		width: 750px;
}
footer	{
		margin-top: 20px;
}
:target	{
		color: darkSlateBlue;
		background-color: #cccccc;
}
.docTitle {
		font-weight: bold;
		text-align: center;
}
.svgImg	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
}
.hrefLevel1 {
		margin top: 10px;
}
.hrefLevel2 {
		margin top: 5px;
		margin-left: 10px;
}
.home	{
		background-color: darkSlateBlue;
		color: white;
		width: 100%;
		padding: 5px;
}
.home a {
		color: white;
		text-decoration: none;
}
.alphaList {
		list-style-type: lower-alpha;
}
.romanList {
			list-style-type: lower-roman;
}
ol.citation {
		counter-reset: list;
}
ol.citation > li {
		list-style: none;
		counter-increment: list;
}
ol.citation.bracketsAround > li::marker {
		content: "[" counter(list) "]\a0";
}
ol.citation.bracketsAround.lowerRoman > li::marker {
		content: "[" counter(list, lower-roman) "]\a0";
}
.comment {
		right: 0px;
		margin: 5px 0px 5px 10px;
		float: right;
		width: 200px;
		color: darkRed;
		background-color: mistyRose;
		font-style: italic;
		text-align: right;
}
.todo {
		color: darkBlue;
		background-color: #d0ecf0;
		font-style: italic;
}
.tag-h1 {
		margin-top: 10px;
}
.tag-h2 {
	font-size: 90%;
	margin-left: 15px;
}
tag-h3 {
	font-size: 90%;
	margin-left: 30px;
}
