---
---

@import "{{site.theme}}";
header	{
		background-color: darkSlateBlue;
		color: white;
		text-align: center;
		padding-top: 20px;
		margin-left: 150px;
		margin-bottom: 20px;
		width: 800px;
}
#banner	{
		text-align: left;
		padding: 10px;
}
nav		{
		background-color: orange;
}
section, footer	{
		margin-left: 150px;
		width: 800px;
}
dt		{
		color: green;
}
dd		{
		font-style: italic;
		margin-left: 20px;
}
