---
---

@import "{{site.theme}}";
header	{
		background-color: darkBlue;
		margin-left: 150 px;
		width: 800px;
}
#banner	{
		background-color: darkBlue;
		margin-left: 150 px;
		width: 800px;
}
nav		{
		background-color: orange;
}
section	{
		margin-left: 150px;
		width: 800px;
}
dt		{
		color: green;
}
